* {
  box-sizing: border-box;
}

body {
  background: #000 url("../img/bg.jpg") no-repeat 0px / cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bg.jpg");
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
}
.header-text-box {
  width: 240px;
  margin-left: 60px;
  margin-bottom: 60px;
}
h1 {
  margin: 20px 0;
  width: 100%;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
.centered-text {
  text-align: center;
}

.row {
  width: 324px;
  margin: 50px 18px;
}
